@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic);

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body
{
	height: 100%;
}

html
{
	min-width: 1000px;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	background: #f1f1f1;
	overflow-y: scroll;
	padding-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
	display: none !important;
}

.load-placeholder
{
	padding-top: 4em;
	text-align: center;
	color: #444;
}

.load-placeholder h3
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.load-placeholder img
{
	margin: -3px 6px 0 0;
}

#main-container
{
	height: 100%;
	padding: 0 3%;
	position: relative;
}

#main-container > .wrapper
{
	min-height: 100%;
	background: #fff;
	margin: 0 auto;
	padding: 20px 30px 150px 30px;
	position: relative;
}

#content-sidebar
{
	float: right;
	width: 240px;
}

#content-main
{
	margin-right: 260px;
}

@media screen and (max-width: 1200px) {
	
	#content-sidebar
	{
		float: right;
		width: 200px;
	}

	#content-main
	{
		margin-right: 220px;
	}
}

form
{
	position: relative;
}

h1, h2, h3, h4
{
	font-family: 'Lato', sans-serif;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child
{
	margin-top: 0;
	padding-top: 0;
}

table.table thead
{
	font-weight: bold;
}

table .table-sortable tr
{
	cursor: pointer;
}

div.actions-row
{
	padding: 12px 0;
}

div.actions-row input.search-filter
{
	width: 220px;
	transition: width 250ms ease-out;
}

div.actions-row input.search-filter.focused
{
	width: 300px;
}

.navbar
{
	padding: 0 40px;
}

nav.navbar
{
	background: #F7C53E;
	border-bottom: 1px solid #ECBA34;
	font-family: 'Lato', sans-serif;
	box-shadow: 0 -1px 3px #D4A320;
}

nav.navbar p.navbar-text
{
	color: #171308;
}

nav.navbar a.navbar-brand
{
	font-weight: bold;
}

nav.navbar a.navbar-brand,
nav.navbar .nav.navbar-nav li a
{
	color: #473502;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	transition: all 60ms ease-in;
	outline: none !important;
}

nav.navbar a.navbar-brand:hover,
nav.navbar .nav.navbar-nav li a:hover
{
	color: #433100;
	background: #FFD971;
	border-left: 1px solid #EAB933;
	border-right: 1px solid #EAB933;
}

nav.navbar .nav.navbar-nav li.active a
{
	color: #433100;
	background: #d9a52e;
	border-left: 1px solid #EAB933;
	border-right: 1px solid #EAB933;
}

nav.navbar .nav.navbar-nav li.active a:hover
{
	color: #433100;
	background: #FFD971;
	border-left: 1px solid #EAB933;
	border-right: 1px solid #EAB933;
}

nav.navbar .nav.navbar-nav > .open > a,
nav.navbar .nav.navbar-nav > .open > a:focus,
nav.navbar .nav.navbar-nav > .open > a:hover
{
	color: #000;
	background: #F5C13F;
	border-left: 1px solid #FEC140;
	border-right: 1px solid #FEC140;
}

nav.navbar .badge
{
	background: #fff;
	color: #433100;
	margin: -2px 0 0 6px;
}

@keyframes glow-animation {
  0%   { box-shadow: 0 0 4px 2px #F7C53E; }
  10%   { box-shadow: 0 0 1px 0 #FFDA6D; }
  40% { box-shadow: 0 0 4px 3px #FFF3CE; }
  100% { box-shadow: 0 0 4px 2px #F7C53E; }
}

.glow-animation
{
	box-shadow: 0 0 4px 2px #FFF3CE;
	animation: glow-animation 4s infinite;
}

.dropdown-menu
{
	width: 100%;
	min-width: 180px;
	max-width: 240px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
	border-top: none;
	margin-top: 1px !important;
}

.dropdown-menu > li > a
{
	padding: 8px 20px;
}

.dropdown-menu .divider
{
	margin: 5px 0;
	background-color: #f3f3f3;
}

/*.breadcrumb
{
	padding: 0 5px;
}

.breadcrumb > li a
{
	display: inline-block;
	padding: 8px 15px;
}

.breadcrumb > li a:hover
{
	display: inline-block;
	background: #eaeaea;
	text-decoration: none;
}

.breadcrumb > li + li::before
{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  content: "\e080";
}*/

.ng-html-output img
{
	float: left;
	max-width: 150px;
	margin: 0 10px 6px 0;
}

.list-actions input,
.list-actions a,
.list-actions button
{
	display: inline-block;
}

.list-actions .search-filter
{
	margin-right: 10px;
}

.list-actions .btn
{
	border: none;
}

ul.questions, ul.questions li.question
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.questions li.add-questions
{
	padding: 2em;
	text-align: center;
	border: 1px solid #d5d5d5;
	border-bottom-color: #cacaca;
	border-radius: 6px;
	box-shadow: 0 2px 0 #eee, inset 0 -5px 2px #f2f2f2;
	background: #fafafa;
}

ul.questions li.add-questions.has-questions
{
	padding: 1em;
}

ul.questions li.add-questions h4
{
	font-weight: 700;
	padding: 0 0 6px 0;
}

ul.questions li.add-questions button
{
	width: 250px;
	box-shadow: 0 2px 0 #2E6428;
	margin-bottom: 2px;
}

ul.questions li.add-questions button:active
{
	margin-top: 2px;
	margin-bottom: 0px;
	box-shadow: none;
}

ul.questions li.question
{
	border-radius: 5px;
	overflow: hidden;
	margin: 0.5em 0 0.6em 0;
	background: #fff;
	border: 1px solid #e7e7e7;
	box-shadow: 0 1px 0 #e1e1e1;
}

ul.questions li.question.active
{
	border: 1px solid #F7C53E;
	box-shadow: 0 2px 0 #F5D57D;
}

ul.questions li.question .nav-tabs
{
	height: 41px;
}

ul.questions li.question .nav-tabs a
{
	outline: none !important;
}

ul.questions li.question div.info 
{
	position: relative;
}

ul.questions li.question div.info .actions
{
	float: right;
	position: absolute;
	top: 7px;
	right: 9px;
}

ul.questions li.question div.info div.title-row
{
	height: 58px;
	margin: 0;
	padding: 8px 10px 12px 10px;
	background: #f7f7f7;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: inset 0 -5px 2px #f2f2f2;
}

ul.questions li.question.active div.info div.title-row
{
	background: #FFD76D;
	border-bottom: 1px solid #F4C141;
	box-shadow: inset 0 -5px 6px #FFDB7A;
}

ul.questions li.question div.info div.title-row .right-aligned
{
	float: right;
	margin-right: 165px;
}

ul.questions li.question.active div.info div.title-row .right-aligned
{
	float: right;
	margin-right: 0px;
}

ul.questions li.question div.info div.title-row .right-aligned .type
{
	font-weight: bold;
}

ul.questions li.question div.info div.title-row .left-aligned .bulk-checkbox
{
	float: left;
	position: absolute;
	display: block;
	left: 5px;
	top: 15px;
	padding: 0 0 0 5px;
}

ul.questions li.question div.info div.title-row .left-aligned .number
{
	float: left;
	display: block;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 20pt;
	padding: 0 0 0 5px;
	width: 36px;
	text-align: right;
}

ul.questions li.question div.info div.title-row .left-aligned .title
{
	padding: 0 0 0 52px;
	display: block;
	font-weight: bold;
}

ul.questions li.question div.info div.title-row .left-aligned .title.dimmed
{
	font-style: italic;
	color: #aaa;
}

ul.questions li.question div.info div.title-row .left-aligned .title.no-subtitle
{
	padding: 6px 0 0 52px;
	font-size: 17px;
}

ul.questions li.question div.info div.title-row .left-aligned .subtitle
{
	padding: 0 0 0 52px;
}

ul.questions li.question.large-number div.info div.title-row .left-aligned .title,
ul.questions li.question.large-number div.info div.title-row .left-aligned .title.no-subtitle,
ul.questions li.question.large-number div.info div.title-row .left-aligned .subtitle
{
	padding-left: 52px;
}

ul.questions li.question div.edit
{
	padding: 1em;
	display: none;
}

ul.questions li.question.active div.edit
{
	display: block;
}

ul.questions li.question.active .actions
{
	display: none;
}

ul.question-type, ul.question-type li
{
	padding: 0;
	margin: 0;
	list-style: none;
}

div.help-sidepanel
{
	border-left: 1px solid #eee;
	max-height: 180px;
	overflow-y: auto;
}

div.spacer
{
	display: inline-block;
	width: 5px;
}

ul.question-type
{
	padding: 6px;
	background: #f4f4f4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #eaeaea;
}

ul.question-type li
{
	display: inline-block;
}

ul.question-type li label
{
	display: inline-block;
	padding: 8px 10px;
	margin: 0 6px 0 0;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: background 120ms ease-out, box-shadow 120ms ease-out, border 120ms ease-out;
}

ul.question-type li label input
{
	outline: none !important;
	margin-right: 5px;
}

ul.question-type li label.active
{
	background: #fff;
	border: 1px solid #f0f0f0;
	box-shadow: 0 1px 0 #e5e5e5;
}

ul.question-type li label:hover
{
	background: #F7C53E;
	border: 1px solid #E5A72A;
	box-shadow: 0 1px 0 #E7C463;
	color: #302404;
	cursor: pointer;
}

ul.questions li.question div.edit div.question-answers
{
	padding: 1em;
	background: #f9f9f9;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #eee;
}

ul.questions div.question-answers div.answer
{
	display: block;
	background: #fff;
	box-shadow: 0 1px #eee;
	padding: 8px 12px;
	margin: 0 0 5px 0;
	border-radius: 6px;
}

ul.questions div.question-answers div.answer:after
{
	content: "";
	display: table;
	clear: both;
}

ul.questions div.question-answers div.answer .answer-label
{
	float: left;
	font-size: 18px;
	font-weight: bold;
	padding: 3px 14px 0 3px;
}

ul.questions div.question-answers div.answer div.col
{
	float: left;
	min-height: 35px;
	vertical-align: middle;
	margin: 0 5px 0 0;
	/*background: #f55;*/
}

ul.questions div.question-answers div.answer div.help-block
{
	float: right;
	display: inline-block;
	font-weight: bold;
	padding-right: 1em;
}

ul.questions div.question-answers div.answer div.col.answer-text
{
	width: 35%;
	min-width: 200px;
	max-width: 500px;
}

ul.questions div.question-answers div.answer div.col.answer-text.wide
{
	width: 55%;
	min-width: 200px;
	max-width: 800px;
}

ul.questions div.question-answers div.answer div.col.answer-delete
{
	float: right;
	font-weight: bold;
	padding: 4px 0 0 0;
	text-align: center;
}

ul.questions div.question-answers div.answer div.col.answer-delete a
{
	display: inline-block;
	color: #a22;
	text-decoration: none;
	border-radius: 3px;
	padding: 4px 7px;
	border: 1px solid transparent;
}

ul.questions div.question-answers div.answer div.col.answer-delete a:hover
{
	background: #D2232E;
	border: 1px solid #A51223;
	box-shadow: 0 1px 0 #CB424F;
	color: #fff;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct
{
	padding: 2px 0 0 10px;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct .checkbox,
ul.questions div.question-answers div.answer div.col.answer-is-correct .radio
{
	padding: 0;
	margin: 0;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct .checkbox label,
ul.questions div.question-answers div.answer div.col.answer-is-correct .radio label
{
	display: inline-block;
	padding: 4px 7px 4px 27px;
	font-weight: bold;
	border: 1px solid transparent;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct .checkbox label:hover,
ul.questions div.question-answers div.answer div.col.answer-is-correct .radio label:hover
{
	background: #F7C53E;
	border: 1px solid #E5A72A;
	box-shadow: 0 1px 0 #E7C463;
	color: #302404;
	border-radius: 3px;
}

ul.questions div.question-answers div.answer .control-label,
ul.questions div.question-answers div.answer .form-control
{
	float: left;
}

ul.questions div.choice .col.input-field
{
	width: 20% !important;
}

.center-text
{
	text-align: center;
}

.valign-middle
{
	vertical-align: middle;
}

.vertical-textarea
{
	min-height: 4em;
	max-height: 16em;
	resize: vertical;
}

.ui-sortable-placeholder
{
	border-bottom: 1px solid #aaa;
	margin: 1em 0;
}

.cursor-pointer
{
	cursor: pointer;
}

input[type="text"].form-control,
input[type="password"].form-control,
textarea.form-control
{
	border: 1px solid #d5d5d5;
	box-shadow: 0 2px 0 #eaeaea;
	/*transform: border 600ms ease-out, box-shadow 600ms ease-out !important;*/
}

input[type="text"].form-control:focus,
input[type="password"].form-control:focus,
textarea.form-control:focus
{
	border: 1px solid #F7C53E;
	box-shadow: 0 2px 1px #F5D57B;
}

td.test-result span
{
	display: inline-block;
	float: left;
}

td.test-result span.icon
{
	padding: 4px 5px 0 0;
	font-size: 16pt;
}

td.test-result span.number
{
	padding: 5px 0 0 5px;
	font-size: 11pt;
}

td.test-result span.icon.all-correct
{
	color: #379315;
}

td.test-result span.icon.partially-correct
{
	color: #E19C28;
}

td.test-result span.icon.incorrect
{
	color: #A70014;
}

td.list-actions
{
	min-width: 120px;
}

td.list-actions .btn
{
	width: 80px;
}

#modal-login .modal-body > p
{
	padding-bottom: 0.4em;
}

#modal-login .modal-body .body-content
{
	width: 470px;
	margin: 0 auto;
}

#modal-login .modal-footer
{
	padding-left: 0;
	padding-right: 0;
}

.errors
{
	display: none;
	background: #940F18;
	color: #fff;
	font-size: 11pt;
	text-align: left;
	padding: 7px;
	border: 1px solid #6B0010;
	border-radius: 4px;
	margin-bottom: 1em;
}

.errors ul
{
	margin: 0;
	padding: 0 0 0 22px;
}

.errors ul li
{
	margin: 0;
	padding: 0;
}

.modal
{
	text-align: center;
}

@media screen and (min-width: 768px) { 
	.modal:before
	{
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog
{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 5%;
}

.modal-header
{
	background: #F7C53E;
	border-bottom: 1px solid #ECBA34;
	text-align: center;
}

.modal-title
{
	font-family: 'Lato', sans-serif !important;
	font-weight: 700 !important;
}

.modal-content
{
	border-radius: 4px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
}