html, body
{
	background-image: none;
	background: #fff !important;
}

#files, #folders, #toolbar a
{
	box-shadow: none !important;
	text-shadow: none !important;
	transition: none !important;
}

#left .folder a span
{
	box-shadow: none !important;
	text-shadow: none !important;
}

#menu
{
	box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}

.kcfImageViewerParent, #menu
{
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.3);
}