@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700);

html, body
{
	height: 100%;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	background: #f1f1f1;
	overflow-y: scroll;
}

div.content
{
	width: 800px;
	min-height: 100%;
	margin: 0 auto;
	padding: 25px 25px 80px 25px;
	background: #fff;
}

div#login-status
{
	float: right;
	position: fixed;
	top: 0;
	right: 20px;
	padding: 12px 16px;
	background: #fff;
}

div#login-status a
{
	display: inline-block;
	padding: 0 6px;
}

h1, h2, h3, h4
{
	font-family: 'Lato', sans-serif;
}

.btn
{
	transition: all 80ms ease-out;
}

div.list div.list-item
{
	border: 1px solid #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 2px 0px #f4f4f4;
	border-radius: 6px;
	overflow: hidden;
	margin: 0 0 1em 0;
}

div.list div.list-item .title
{
	font-size: 18pt;
	margin: 0;
}

div.list div.list-item .title a
{
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	background: #f6f6f6;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	outline: none !important;
}

div.list div.list-item .title a:hover,
div.list div.list-item .title a:active
{
	background: #f2f2f2;
	color: #DFA508;
}

div.list div.list-item .description
{
	text-align: justify;
	padding: 12px;
	margin: 0;
	color: #555;
	background: #fcfcfc
}

form.test-form .test-title
{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

form.test-form div.test-description
{
	color: #555;
	text-align: justify;
	padding-bottom: 1em;
}

.form-horizontal .form-group
{
	margin-left: 0;
	margin-right: 0;
}

fieldset legend
{
	padding-left: 0.4em;
}

div.question
{
	display: block;
	padding: 0;
	margin: 0 0 1em 0;
	background: #fafafa;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}

div.question .form-group
{
	padding: 3px 15px;
}

div.question div.header
{
	font-family: 'Lato', sans-serif;
	padding: 7px 15px 12px 15px;
	margin: 0;
	min-height: 48px;
	background: #f1f1f1;
}

div.question div.header .number
{
	float: left;
	font-size: 28px;
	font-weight: bold;
	margin-top: -2px;
}

div.question div.header .title
{
	font-weight: bold;
	margin-left: 36px;
}

div.question div.header .subtitle
{
	font-weight: normal;
	margin: 0;
	color: #555;
}

div.question div.header .subtitle img
{
	max-width: 50%;
	height: auto;
	margin: 0 1em 0 0;
	padding: 2px;
	border: 1px solid #aaa;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
}

div.question div.answer
{
	padding: 1em 0 0 0;
}

div.question div.checkbox,
div.question div.radio
{
	margin: 0;
	padding: 0;
}

div.question .radio label,
div.question .checkbox label
{
	display: block;
	padding: 6px 6px 6px 28px;
	margin: 0;
	border: 1px solid transparent;
	transition: all 80ms ease-in-out;
}

div.question .radio label:hover,
div.question .checkbox label:hover
{
	background: #F9EAAE;
	border: 1px solid #E3D28F;
	border-radius: 4px;
}

div.question input,
div.question label
{
	outline: none !important;
}

div.question textarea
{
	height: 10em;
	min-height: 10em;
	resize: vertical;
}

div.question input,
div.question textarea
{
	background: #fcfcfc;
	transition: background-color 100ms ease-in-out,
				box-shadow 60ms ease-in-out,
				border-color 60ms ease-in-out;
}

div.question input[type="text"],
div.question textarea
{
	box-shadow: 0 2px 0 #e7e7e7;
}

div.question input:hover, div.question input:focus,
div.question textarea:hover, div.question textarea:focus
{
	background: #fff;
}

div.question input:focus, div.question textarea:focus
{
	border-color: #CDA12B;
	box-shadow: 0 2px 2px #F2EAD1;
}

div.question .multitext div.row
{
	padding: 0 0 0.5em 0;
}

div.question .multitext .control-label
{
	text-align: right;
}
