@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic);

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body
{
	height: 100%;
}

html
{
	min-width: 1000px;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff url('/img/background.png') repeat-x;
	overflow-y: scroll;
	padding-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
	display: none !important;
}

.load-placeholder
{
	padding-top: 4em;
	text-align: center;
	color: #444;
}

.load-placeholder h3
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.load-placeholder img
{
	margin: -3px 6px 0 0;
}

#main-container
{
	height: 100%;
	padding: 0;
	position: relative;
}

#main-container > .wrapper
{
	min-height: 100%;
	background: #fff fixed;
	margin: 0 auto;
	padding: 60px 30px 30px 30px;
	position: relative;
	box-shadow: 0 -30px 30px rgba(252, 208, 90, 0.4);
}

#content-sidebar
{
	float: right;
	width: 280px;
	min-height: 40%;
	overflow-y: auto;
}

#content-sidebar .form-group
{
	margin-left: 0;
	margin-right: 0;
}

#content-sidebar .sidebar-actions
{
	padding-right: 15px;
}

#content-sidebar .sidebar-help
{
	text-align: justify;
}

#content-main
{
	margin-right: 300px;
}

@media screen and (max-width: 1700px) {
	
	#main-container > .wrapper
	{
		padding: 60px 22px 30px 22px;
	}
	
	#content-sidebar
	{
		float: right;
		width: 240px;
	}

	#content-main
	{
		margin-right: 260px;
	}
}

#content-sidebar .radio label,
.fancy-radio .radio label,
#content-sidebar .checkbox label
{
	display: block;
	font-weight: bold;
	padding: 6px 6px 6px 30px;
	border-radius: 4px;
	background: #f4f4f4;
	border: 1px solid #E3E3E3;
	transition: background 150ms ease-out, border 150ms ease-out;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

#content-sidebar .radio.active label,
.fancy-radio .radio.active label,
#content-sidebar .checkbox.active label
{
	background: #ABD9FF;
	border: 1px solid #8BB9E3;
}

#content-sidebar .radio label:hover,
.fancy-radio .radio label:hover,
#content-sidebar .checkbox label:hover
{
	background: #FED081;
	border: 1px solid #EDBA68;
	box-shadow: 0 2px 3px #FFE5B7;
}

form
{
	position: relative;
}

h1, h2, h3, h4
{
	font-family: 'Lato', sans-serif;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child
{
	margin-top: 0;
	padding-top: 0;
}

table.table thead
{
	font-weight: bold;
}

table .table-sortable tr
{
	cursor: pointer;
}

div.actions-row
{
	padding: 12px 0;
}

div.actions-row input.search-filter,
div.actions-row select.form-control
{
	width: 220px;
}

div.actions-row .archive-select-filters
{
	clear: left;
}

div.actions-row .archive-select-filters > div
{
	display: inline-block;
}

div.actions-row .archive-select-filters > div select,
div.actions-row .archive-select-filters > div button
{
	display: inline-block;
	margin-left: 1em;
}

div.actions-row > div
{
	float: left;
	margin: 0;
	padding: 0 1em 1em 0;
}

div.actions-row div.radio
{
	display: inline-block;
	margin: 0;
	padding: 0;
}

div.actions-row div.radio label
{
	display: inline-block;
	margin: 0;
	padding: 6px 14px 6px 30px;
	outline: none;
}

div.actions-row div.radio label input
{
	outline: none;
}

.navbar
{
	padding: 0 40px;
}

nav.navbar
{
	background: #F7C53E;
	border-bottom: 1px solid #ECBA34;
	font-family: 'Lato', sans-serif;
	box-shadow: 0 -1px 3px #D4A320;
}

nav.navbar p.navbar-text
{
	color: #171308;
}

nav.navbar a.navbar-brand
{
	font-weight: bold;
}

nav.navbar a.navbar-brand,
nav.navbar .nav.navbar-nav li a
{
	color: #473502;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	transition: all 60ms ease-in;
	outline: none !important;
}

nav.navbar a.navbar-brand:hover,
nav.navbar .nav.navbar-nav li a:hover
{
	color: #433100;
	background: #FFD971;
	border-left: 1px solid #EAB933;
	border-right: 1px solid #EAB933;
}

nav.navbar .nav.navbar-nav li.active a
{
	color: #433100;
	background: #d9a52e;
	border-left: 1px solid #EAB933;
	border-right: 1px solid #EAB933;
}

nav.navbar .nav.navbar-nav li.active a:hover
{
	color: #433100;
	background: #FFD971;
	border-left: 1px solid #EAB933;
	border-right: 1px solid #EAB933;
}

nav.navbar .nav.navbar-nav > .open > a,
nav.navbar .nav.navbar-nav > .open > a:focus,
nav.navbar .nav.navbar-nav > .open > a:hover
{
	color: #000;
	background: #F5C13F;
	border-left: 1px solid #FEC140;
	border-right: 1px solid #FEC140;
}

@media (min-width: 979px) {
	
	ul.nav li.dropdown.dropdown-hover:active > .dropdown-menu,
	ul.nav li.dropdown.dropdown-hover:focus > .dropdown-menu
	{
		display: none;
	}
	ul.nav li.dropdown.dropdown-hover:hover > .dropdown-menu
	{
		display: block !important;
	}
}

.dropdown-menu
{
	min-width: 180px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	border-top: none;
	/*margin-top: 1px !important;*/
}

.dropdown-menu > li > a
{
	padding: 8px 20px;
}

.dropdown-menu .divider
{
	margin: 5px 0;
	background-color: #f3f3f3;
}

/**************************************************************/

div.breadcrumbs
{
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
}

div.breadcrumbs ol.breadcrumb
{
	background: rgba(0, 0, 0, 0.92);
	border-radius: 0;
	padding: 10px 60px;
}

div.breadcrumbs li
{
	color: #ddd;
	font-size: 11pt;
	padding-right: 4px;
}

div.breadcrumbs a:link, div.breadcrumbs a:visited
{
	color: #ED9F16;
}

div.breadcrumbs a:hover, div.breadcrumbs a:active
{
	color: #FEBB3A;
}

nav.navbar .badge
{
	background: #fff;
	color: #433100;
	margin: -2px 0 0 6px;
}

@keyframes glow-animation {
  0%   { box-shadow: 0 0 4px 2px #F7C53E; }
  10%   { box-shadow: 0 0 1px 0 #FFDA6D; }
  40% { box-shadow: 0 0 4px 3px #FFF3CE; }
  100% { box-shadow: 0 0 4px 2px #F7C53E; }
}

.glow-animation
{
	box-shadow: 0 0 4px 2px #FFF3CE;
	animation: glow-animation 4s infinite;
}

td.status-labels div.label
{
	display: inline-block;
	margin: 0 0 0 5px;
}

table.table
{
	height: 100%;
}

tr.min-height
{
	min-height: 50px !important;
	height: 50px !important;
}

td.block-level-links
{
	position: relative;
	padding: 0 !important;
}

td.block-level-links a
{
	display: block;
	padding: 6px 6px 10px 10px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-weight: bold;
}

td.block-level-links a:hover
{
	text-decoration: none;
}

td.status-labels .label
{
	font-size: 9pt;	
}

td.status-labels .label.label-success
{
	color: #023C02;
}

td.status-labels .label.label-warning
{
	color: #5D3802;
}

td.status-labels .label.label-danger
{
	color: #460705;
}

/* ----------------------------------------------------------------
 * Frontpage
 */

.recent-edits div.list
{
	max-width: 1200px;
	width: auto !important;
	padding: 0 8px;
	margin-bottom: 1em;
	overflow: hidden;
}

.recent-edits div.list div.wrapper
{
	background: #fafafa;
	box-shadow: 0 2px 1px #FFDC7C;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #DBA820;
	border-radius: 4px;
}

.recent-edits div.inner
{
	padding: 8px 12px;
}

.recent-edits > div h4
{
	margin: 0;
	padding: 12px;
	background: #F7C53E;
	font-weight: bold;
	border-bottom: 1px solid #C28F18;
}

.recent-edits table tr td:first-child
{
	padding-left: 10px !important;
}

/**************************/

.separator-slash
{
	display: inline-block;
	font-weight: bold;
	padding: 0 5px;
}

.tall-description
{
	max-width: 1000px;
	max-height: 400px;
	overflow-y: auto;
}

.ng-html-output img,
.ng-html-output video
{
	float: left;
	max-width: 150px;
	margin: 0 10px 6px 0;
}

.list-actions input,
.list-actions a,
.list-actions button
{
	display: inline-block;
}

.list-actions .search-filter
{
	margin-right: 10px;
}

.list-actions .btn
{
	border: none;
}

/***********************/

ul.questions, ul.questions li.question
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.questions li.add-questions
{
	padding: 2em;
	text-align: center;
	border: 1px solid #d5d5d5;
	border-bottom-color: #cacaca;
	border-radius: 6px;
	box-shadow: 0 2px 0 #eee, inset 0 -5px 2px #f2f2f2;
	background: #fafafa;
}

ul.questions li.add-questions.has-questions
{
	padding: 1em;
}

ul.questions li.add-questions h4
{
	font-weight: 700;
	padding: 0 0 6px 0;
}

ul.questions li.add-questions button,
.btn.btn-success.shadowed
{
	box-shadow: 0 2px 0 #2E6428;
	margin-bottom: 2px;
}

ul.questions li.add-questions button:active,
.btn.btn-success.shadowed:active
{
	margin-top: 2px;
	margin-bottom: 0px;
	box-shadow: none;
}

ul.questions li.add-questions button
{
	width: 250px;
}

ul.questions li.question
{
	border-radius: 5px;
	overflow: hidden;
	margin: 0.5em 0 0.6em 0;
	background: #fff;
	border: 1px solid #e7e7e7;
	box-shadow: 0 1px 0 #e1e1e1;
}

ul.questions li.question.active
{
	border: 1px solid #F7C53E;
	box-shadow: 0 2px 0 #F5D57D;
}

ul.questions li.question .nav-tabs
{
	height: 41px;
}

ul.questions li.question .nav-tabs a
{
	outline: none !important;
}

ul.questions li.question div.info 
{
	position: relative;
}

ul.questions li.question div.info .actions
{
	float: right;
	position: absolute;
	top: 7px;
	right: 9px;
}

ul.questions li.question div.info div.title-row
{
	min-height: 58px;
	margin: 0;
	padding: 8px 10px 12px 10px;
	background: #f7f7f7;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: inset 0 -5px 2px #f2f2f2;
}

ul.questions li.question.active div.info div.title-row
{
	background: #FFD76D;
	border-bottom: 1px solid #F4C141;
	box-shadow: inset 0 -5px 6px #FFDB7A;
}

ul.questions li.question div.info div.title-row .right-aligned
{
	float: right;
	margin-right: 165px;
}

ul.questions.sortable-questions
{
	/*border: 1px solid #ddd;
	border-radius: 4px;
	background: #f7f7f7;
	padding: 1px 8px;
	margin-bottom: 5px;*/
}

ul.questions.sortable-questions li.question
{
	cursor: pointer;
	border: 1px solid #ccc;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

ul.questions.sortable-questions .ui-sortable-placeholder
{
	visibility: visible !important;
	border: none !important;
	background: #f1f1f1 !important;
	box-shadow: none !important;
}

ul.questions.sortable-questions li.question:hover
{
	cursor: grab;
}

ul.questions.sortable-questions li.question.ui-sortable-helper
{
	transition: margin-left 200ms ease-out, box-shadow 200ms ease-out;
	margin-left: -10px;
	box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
	cursor: grabbing !important;
}

ul.questions li.question.active div.info div.title-row .right-aligned,
ul.questions.sortable-questions li.question div.info div.title-row .right-aligned
{
	float: right;
	margin-right: 0px;
}

ul.questions li.question div.info div.title-row .right-aligned .type
{
	font-weight: bold;
}

ul.questions li.question div.info div.title-row .left-aligned .bulk-checkbox
{
	float: left;
	position: absolute;
	display: block;
	left: 5px;
	top: 15px;
	padding: 0 0 0 5px;
}

ul.questions li.question div.info div.title-row .left-aligned .number
{
	float: left;
	display: block;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 20pt;
	padding: 0 0 0 5px;
	width: 36px;
	text-align: right;
}

ul.questions li.question div.info div.title-row .left-aligned .title
{
	padding: 0 0 0 52px;
	display: block;
	font-weight: bold;
}

ul.questions li.question div.info div.title-row .left-aligned .title.dimmed
{
	font-style: italic;
	color: #aaa;
}

ul.questions li.question div.info div.title-row .left-aligned .title.no-subtitle
{
	padding: 6px 0 0 52px;
	font-size: 17px;
}

ul.questions li.question div.info div.title-row .left-aligned .subtitle
{
	padding: 0 0 0 52px;
}

ul.questions li.question.large-number div.info div.title-row .left-aligned .title,
ul.questions li.question.large-number div.info div.title-row .left-aligned .title.no-subtitle,
ul.questions li.question.large-number div.info div.title-row .left-aligned .subtitle
{
	padding-left: 52px;
}

ul.questions li.question div.edit
{
	padding: 1em;
	display: none;
}

ul.questions li.question.active div.edit
{
	display: block;
}

ul.questions li.question.active .actions
{
	display: none;
}

ul.question-type, ul.question-type li
{
	padding: 0;
	margin: 0;
	list-style: none;
}

div.help-sidepanel
{
	border-left: 1px solid #eee;
}

div.spacer
{
	display: inline-block;
	width: 5px;
}

ul.question-type
{
	padding: 6px;
	background: #f4f4f4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #eaeaea;
}

ul.question-type li
{
	display: inline-block;
}

ul.question-type li label
{
	display: inline-block;
	padding: 8px 10px;
	margin: 0 6px 0 0;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: background 120ms ease-out, box-shadow 120ms ease-out, border 120ms ease-out;
}

ul.question-type li label input
{
	outline: none !important;
	margin-right: 5px;
}

ul.question-type li label.active
{
	background: #fff;
	border: 1px solid #f0f0f0;
	box-shadow: 0 1px 0 #e5e5e5;
}

ul.question-type li label:hover
{
	background: #F7C53E;
	border: 1px solid #E5A72A;
	box-shadow: 0 1px 0 #E7C463;
	color: #302404;
	cursor: pointer;
}

ul.questions li.question div.edit div.question-answers
{
	padding: 1em;
	background: #f9f9f9;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #eee;
}

ul.questions div.question-answers div.answer
{
	display: block;
	background: #fff;
	box-shadow: 0 1px #eee;
	padding: 8px 12px;
	margin: 0 0 5px 0;
	border-radius: 6px;
}

ul.questions div.question-answers div.answer:after
{
	content: "";
	display: table;
	clear: both;
}

ul.questions div.question-answers div.answer .answer-label
{
	float: left;
	font-size: 18px;
	font-weight: bold;
	padding: 3px 14px 0 3px;
}

ul.questions div.question-answers div.answer .answer-label.label-small
{
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 14px 0 10px;
}

ul.questions div.question-answers div.answer div.col
{
	float: left;
	min-height: 35px;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

ul.questions div.question-answers div.answer div.help-block
{
	float: right;
	display: inline-block;
	font-weight: bold;
	padding-right: 1em;
}

ul.questions div.question-answers div.answer div.col.answer-text
{
	width: 35%;
	min-width: 200px;
	max-width: 500px;
}

ul.questions div.question-answers div.answer div.col.answer-text select
{
	min-width: 100px;
	max-width: 150px;
}

ul.questions div.question-answers div.answer div.col.answer-margin
{
	min-width: 350px;
	max-width: 450px;
}

ul.questions div.question-answers div.answer div.col.answer-margin select
{
	min-width: 80px;
	max-width: 80px;
}

ul.questions div.question-answers div.answer div.col.answer-text.wide
{
	width: 55%;
	min-width: 200px;
	max-width: 800px;
}

ul.questions div.question-answers div.answer div.col.answer-delete
{
	float: right;
	font-weight: bold;
	padding: 4px 0 0 0;
	text-align: center;
}

ul.questions div.question-answers div.answer div.col.answer-delete a
{
	display: inline-block;
	color: #a22;
	text-decoration: none;
	border-radius: 3px;
	padding: 4px 7px;
	border: 1px solid transparent;
}

ul.questions div.question-answers div.answer div.col.answer-delete a:hover
{
	background: #D2232E;
	border: 1px solid #A51223;
	box-shadow: 0 1px 0 #CB424F;
	color: #fff;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct
{
	padding: 2px 0 0 10px;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct .checkbox,
ul.questions div.question-answers div.answer div.col.answer-is-correct .radio
{
	padding: 0;
	margin: 0;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct .checkbox label,
ul.questions div.question-answers div.answer div.col.answer-is-correct .radio label
{
	display: inline-block;
	padding: 4px 7px 4px 27px;
	font-weight: bold;
	border: 1px solid transparent;
}

ul.questions div.question-answers div.answer div.col.answer-is-correct .checkbox label:hover,
ul.questions div.question-answers div.answer div.col.answer-is-correct .radio label:hover
{
	background: #F7C53E;
	border: 1px solid #E5A72A;
	box-shadow: 0 1px 0 #E7C463;
	color: #302404;
	border-radius: 3px;
}

ul.questions div.question-answers div.answer .control-label,
ul.questions div.question-answers div.answer .form-control
{
	float: left;
}

ul.questions div.choice .col.input-field
{
	width: 20% !important;
}

.center-text
{
	text-align: center;
}

.valign-middle
{
	vertical-align: middle;
}

.vertical-textarea
{
	min-height: 4em;
	max-height: 16em;
	resize: vertical;
}

.vertical-textarea.big
{
	min-height: 8em;
	max-height: 20em;
}

.ui-sortable-placeholder
{
	border-bottom: 1px solid #aaa;
	margin: 1em 0;
}

.cursor-pointer
{
	cursor: pointer;
}

input[type="text"].form-control,
input[type="password"].form-control,
textarea.form-control
{
	border: 1px solid #d5d5d5;
	box-shadow: 0 2px 0 #eaeaea;
	/*transform: border 600ms ease-out, box-shadow 600ms ease-out !important;*/
}

input[type="text"].form-control:focus,
input[type="password"].form-control:focus,
textarea.form-control:focus
{
	border: 1px solid #F7C53E;
	box-shadow: 0 2px 1px #F5D57B;
}

td.archive-test-result span
{
	display: inline-block;
	float: left;
}

td.archive-test-result span.icon
{
	padding: 4px 5px 0 0;
	font-size: 16pt;
}

td.archive-test-result span.number
{
	padding: 5px 0 0 5px;
	font-size: 11pt;
}

td.archive-test-result span.icon.all-correct
{
	color: #379315;
}

td.archive-test-result span.icon.partially-correct
{
	color: #E19C28;
}

td.archive-test-result span.icon.incorrect
{
	color: #A70014;
}

td.list-actions
{
	min-width: 120px;
}

td.list-actions .btn
{
	min-width: 80px;
}

tr.missing-test
{
	background: #FFE0E0;
}

tbody > tr > td:first-child
{
	background: #fafafa;
}

tbody > tr.missing-test > td:first-child
{
	background: #EBC6C6;
}

.list-no-padding ul, .list-no-padding ol
{
	padding: 0 0 0 1em;
	margin: 0;
}

.list-no-padding ul > li, .list-no-padding ol > li
{
	margin: 0;
	padding: 0 0 0 0.2em;
}

#modal-login .modal-body > p
{
	padding-bottom: 0.4em;
}

#modal-login .modal-body .body-content
{
	width: 470px;
	margin: 0 auto;
}

#modal-login .modal-footer
{
	padding-left: 0;
	padding-right: 0;
}

#modal-display-feedback .modal-dialog
{
	width: 720px;
}

#modal-display-feedback ol
{
	margin: 0;
	padding: 0 0 0 1em;
}

#modal-display-feedback ol li
{
	margin: 0;
	padding: 0.8em 0.5em 0.8em 0.5em;
	border-bottom: 1px solid #eee;
}

#modal-display-feedback ol li:last-child
{
	border-bottom: none;
}

#modal-group-students .modal-dialog
{
	min-width: 260px;
	width: auto !important;
}

#modal-group-students .modal-header
{
	padding-left: 3em;
	padding-right: 3em;
}

#modal-group-students .modal-body
{
	padding: 1.25em 2.5em;
}

#modal-group-students .modal-body h4
{
	font-weight: 700;
}

#modal-group-students .modal-body ul,
#modal-group-students .modal-body ul li
{
	padding-left: 0px;
	margin-left: 0px;
	list-style: none;
}

.alert-box
{
	font-size: 11pt;
	text-align: left;
	padding: 10px 14px;
	border-radius: 4px;
	margin-bottom: 1em;
}

.alert-box h4
{
	font-size: 11pt;
	margin: 0;
	padding: 0 0 0.175em 0;
	font-weight: bold;
}

.alert-box.success
{
	background: #58A00B;
	color: #fff;
	border: 1px solid #407A02;
}

.alert-box.warning
{
	background: #E89F26;
	color: #fff;
	border: 1px solid #855413;
}

.alert-box.errors
{
	background: #910014;
	color: #fff;
	border: 1px solid #6B0010;
}

.alert-box.errors ul
{
	margin: 0;
	padding: 0 0 0 16px;
}

.alert-box.errors ul li
{
	margin: 0;
	padding: 0;
}

.edit .alert-box.errors
{
	background: #9B001B;
}

.edit .alert-box.errors li
{
	list-style: disc;
}

.area-has-error
{
	border: 1px solid #C3000F !important;
	box-shadow: 0 0 2px 1px #D31F35 !important;
}

/**************************************************/

.form-group.ckeditor
{
	
}

ul.tabs,
ul.tabs li
{
	list-style: none;
}

ul.tabs
{
	height: 40px;
	border-bottom: 1px solid #ddd;
	padding: 0 0 0 5px;
}

ul.tabs li
{
	display: inline-block;
	margin: 0 !important;
	padding: 0 4px;
}

ul.tabs li a
{
	display: block;
	min-width: 120px;
	height: 39px;
	padding: 8px 34px 0 34px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #ddd;
	border-bottom: none;
	background: #eee;
	cursor: pointer;
	text-decoration: none;
	font-size: 11pt;
	font-family: 'Lato';
	font-weight: bold;
	transition: all 150ms ease-out;
	outline: none !important;
}

ul.tabs li.active a
{
	color: #F43313;
}

ul.tabs li a:hover,
ul.tabs li a:active
{
	color: #D33F13;
}

ul.tabs li a .glyphicon
{
	display: inline-block;
	margin-left: 5px;
}

ul.tabs li:not(.active) a
{
	box-shadow: inset 0 -2px 4px #ddd;
}

ul.tabs li:not(.active) a:hover
{
	box-shadow: inset 0 -2px 4px #d0d0d0;
	background: #e2e2e2;
}

ul.tabs li.active a
{
	height: 40px;
	background: #fff;
}

div.tab-wrapper,
div.tab-panel
{
	padding: 6px;
}

/**************************************************/

.test-result
{
	width: 600px;
	margin: 0 auto;
	font-size: 18pt;
	padding: 12px 16px;
	text-align: center;
}

.test-result > h3
{
	padding-bottom: 5px;
	margin-bottom: 0;
}

.test-result > div
{
	font-weight: bold;
	padding-left: 0.5em;
}

.test-result > div .sbadge
{
	display: inline-block;
	font-size: 16pt;
	border-radius: 60px;
	padding: 0 17px;
	margin: 0 0 0 10px;
	background: #F7C53E;
	color: #fff;
	border: 1px solid #eee;
	text-shadow: 0 1px 0px #83651C;
}

.test-feedback-list .test-answer
{
	font-size: 11pt;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 3px;
	height: 100% !important;
	margin-left: 0;
	margin-right: 0;
}

.test-feedback-list .test-answer:first-child
{
	border-right: 1px solid #eee;
}

.test-feedback-list .test-answer > span
{
	display: block;
	font-weight: bold;
}

.test-feedback-list .test-answer > div
{
	max-width: 800px;
}

.test-answer ul
{
	margin: 0;
	padding: 0 0 0 1.2em;
}

.test-answer ul li
{
	margin: 0;
	padding: 0;
	list-style: disc;
}

div.result-badge
{
	background: #fff;
	font-weight: bold;
	font-size: 15pt;
	padding: 4px 14px 2px 14px;
	border-radius: 4px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15)
}

div.result-badge.correct
{
	color: #379315;
}

div.result-badge.partially-correct
{
	color: #E19C28;
}

div.result-badge.incorrect
{
	color: #A70014;
}

.test-feedback-list .feedback-field
{
	padding: 0 1em;
}

.test-feedback-list .feedback-field textarea
{
	max-width: 800px;
	min-height: 12em;
	max-height: 35em;
	resize: none !important;
	line-height: 1.4;
}

.limited-height-preview
{
	max-width: 90%;
	display: block;
	max-height: 140px;
	overflow: hidden;
	padding: 0 15px 0 0 !important;
	margin-bottom: 10px;
}

.limited-height-preview img
{
	display: none !important;
}

/*************************************************/

.test-sorting
{
	padding-top: 1em;
}

/*************************************************/

.modal
{
	text-align: center;
}

@media screen and (min-width: 768px) { 
	.modal:before
	{
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog
{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 5%;
}

.modal-header
{
	background: #F7C53E;
	border-bottom: 1px solid #ECBA34;
	text-align: center;
}

.modal-title
{
	font-family: 'Lato', sans-serif !important;
	font-weight: 700 !important;
}

.modal-content
{
	border-radius: 4px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.kcfinder
{
	position: relative;
}

.kcfinder iframe
{
	width: 100%;
	min-height: 700px;
	height: 100%;
	overflow: hidden;
}

.kcfinder .kcfinder-type
{
	float: right;
	position: absolute;
	top: 5px;
	right: 4px;
	z-index: 999;
}

.kcfinder .kcfinder-type button
{
	outline: none !important;
}

.kcfinder .load-placeholder
{
	float: left;
	position: absolute;
	top: 0;
	width: 100%;
	height: 700px;
	padding-top: 100px;
	background: rgba(255, 255, 255, 0.75);
	z-index: 9999;
}

blockquote
{
	font-size: inherit !important;
}

.pagination-block
{
	width: 100%;
	display: block;
	text-align: center;
}

.pagination-block li a
{
	cursor: pointer;
}