@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700,900);
@import url(https://fast.fonts.net/cssapi/bb8bd669-030d-4e0b-9d3d-5768d4f366f8.css);

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
html, body
{
	width: 100%;
	height: 100%;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	background: #fdfdfd url('/img/main-background-gradient.png') repeat-x center -50px fixed;
	overflow-y: scroll;
}
/*
a:not(.btn):link, a:not(.btn):visited
{
	color: #50731C;
}

a:not(.btn):hover, a:not(.btn):active
{
	color: #CF750B;
}*/

.mobile-width .hide-in-mobile-width,
.desktop-width .hide-in-desktop-width
{
	display: none !important;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.4em 0;
	padding: 0.3em 0 0.15em 0;
}

header
{
	width: 100%;
	background: #99c14f url('/img/header-background.png') repeat-x center top;
	border-bottom: 2px solid #418707;
	z-index: 9999;
	transition: background 200ms ease-in-out;
	position: absolute;
}

.desktop-width header.fixed
{
	position: fixed;
	top: -115px;
	left: 0;
	right: 0;
	background: #9DC963 center top;
}

header > .inner
{
	max-width: 1000px;
	height: 120px;
	padding: 0;
	margin: 0 auto;
	transition: background 500ms ease-in-out;
	background: url('/img/header-people.png') no-repeat center top;
}

.desktop-width header.fixed > .inner
{
	background: none center top !important;
}

header .title
{
	float: left;
	width: 350px;
	margin: 0;
	padding: 15px 0 15px 20px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	transition: all 500ms ease-in-out;
}

header .title h1,
header .title h3
{
	margin: 0;
	padding: 0;
	border: none;
}

header .title h1
{
	font-weight: 900;
	text-shadow: 2px 3px 1px #799a25;
}

header .title h3
{
	color: #3d5a06;
}

header nav
{
	margin: 0;
	padding: 0;
	border-top: 1px solid #4B821C;
	background: #519815;
	transition: all 500ms ease-in-out;
	z-index: 999;
}

header nav .inner
{
	max-width: 1000px;
	margin: 0 auto;
}

header nav ul,
header nav li
{
	margin: 0;
	padding: 0;
}

header nav li
{
	display: inline-block;
	list-style: none;
}

header nav li a:link,
header nav li a:visited
{
	display: block;
	padding: 12px 18px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13pt;
}

header nav li a:hover,
header nav li a:active
{
	text-decoration: none;
	background: #fff;
	color: #519815;
}

#main-wrapper
{
	height: 100%;
}

#content-wrapper
{
	width: 950px;
	margin: -2px auto 0 auto;
	padding: 190px 25px 110px 25px;
	background: #fff;
	box-shadow: 0 15px 15px #ddd;
	z-index: 0;
	min-height: 88%;
}

#sidebar-content
{
	margin: 0;
	padding: 0;
}

#main-content
{
	min-height: 100%;
	padding: 0 0 0 20px;
}

#main-content.col-xs-12
{
	padding: 0 !important;
}

#content-wrapper-popup
{
	background: #fff;
	min-height: 100%;
}

#content-wrapper-popup #main-content
{
	max-width: 850px;
	margin: 0 auto;
	padding: 20px 25px 50px 25px;
}

@media screen and (max-width: 649px) {
	
	#content-wrapper-popup #main-content img
	{
		float: none !important;
		margin: 1em 0 !important;
		width: 100% !important;
		height: auto !important;
		max-height: 40% !important;
		display: block;
	}
	
}

#main-content > h1:first-child,
#main-content > h2:first-child,
#main-content > h3:first-child,
{
	padding-top: 0;
	margin-top: 0;
}

footer
{
	min-height: 200px;
	color: #fff;
	background: #8ABE3B;
	border-top: 4px solid #578B07;
	padding: 0 0 40px 0;
}

footer .inner-dark
{
	background: #699E18;
}

footer .inner
{
	max-width: 950px;
	margin: 0 auto;
	padding: 26px 0 20px 0;
	text-align: justify;
}

footer .inner h3
{
	margin: 0;
	padding: 0;
	font-weight: 900;
	text-shadow: 2px 3px 1px #56840F;
}

footer .inner ul,
footer .inner ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
}

footer .inner a:link,
footer .inner a:visited
{
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 5px 8px;
}

footer .inner a:hover,
footer .inner a:active
{
	color: #5C7B0A;
	background: #fff;
	text-decoration: none;
	border-radius: 4px
}

footer .external-links h4
{
	border-bottom: 1px solid #A8D861;
	padding-bottom: 7px;
	margin-bottom: 4px;
}

/**************************************************************/

ul.sidebar-course-progress,
ul.sidebar-course-progress li
{
	margin: 0;
	padding: 0;
}

ul.sidebar-course-progress
{
	border-left: 3px solid #eee;
}

ul.sidebar-course-progress li
{
	list-style: none;
}

ul.sidebar-course-progress li.test-title div
{
	background: #fff;
	padding: 4px 0 2px 27px;
	margin: 0 0 5px -27px;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

ul.sidebar-course-progress li.test-progress div
{
	background: #fff;
	padding: 10px 0 7px 12px;
	margin: 0 0 0 -10px;
	border-bottom: 2px solid #eee;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

ul.sidebar-course-progress li.test-progress div.status.locked
{
	color: #811D23;
}

ul.sidebar-course-progress li.test-progress div.status.new-test
{
	color: #197CBB;
}

ul.sidebar-course-progress li.test-progress div.status.in-progress
{
	color: #E18A07;
}

ul.sidebar-course-progress li.test-progress div.status.completed
{
	color: #467E0F;
}

ul.sidebar-course-progress li.spacer
{
	margin-bottom: 22px;
}

ul.sidebar-course-progress li.lock-spacer
{
	margin-bottom: 33px;
}

ul.sidebar-course-progress li .anchor
{
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 8px 6px 6px 30px;
	margin-left: -28px;
	background: #f4f4f4;
}

ul.sidebar-course-progress li.course-title
{
	margin-bottom: 14px;
}

ul.sidebar-course-progress li.course-title .anchor
{
	font-style: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 13pt;
	border-bottom: 3px solid #eee;
	background: #fff;
	color: #444;
}

ul.sidebar-course-progress li.course-title .anchor:hover,
ul.sidebar-course-progress li.course-title .anchor:active
{
	background: #F91C22;
	color: #fff;
}

ul.sidebar-course-progress li.course-title .anchor:hover,
ul.sidebar-course-progress li.course-title .anchor:active,
ul.sidebar-course-progress li.course-title.active .anchor
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 5px;
}

ul.sidebar-course-progress li a:link,
ul.sidebar-course-progress li a:visited
{
	transition: all 100ms ease-out;
	outline: none !important;
}

ul.sidebar-course-progress li.test .anchor
{
	background: #e8e8e8;
}

ul.sidebar-course-progress li a:hover,
ul.sidebar-course-progress li a:active,
ul.sidebar-course-progress li.test a.anchor:hover,
ul.sidebar-course-progress li.test a.anchor:active
{
	background: #f44;
	color: #fff;
	text-decoration: none;
}

ul.sidebar-course-progress li.test .anchor
{
	border-bottom-right-radius: 5px;
}

ul.sidebar-course-progress li.material .anchor,
ul.sidebar-course-progress li.test.no-material .anchor
{
	border-top-right-radius: 5px;
}

ul.sidebar-course-progress li.material .anchor
{
	border-bottom: 1px solid #e1e1e1;
}

ul.sidebar-course-progress li.material.active .anchor
{
	border-bottom: 1px solid #FA9148;
}

ul.sidebar-course-progress li.active a:link,
ul.sidebar-course-progress li.active a:visited
{
	background: #FD8B2E;
	color: #fff;
	border-left: 6px solid #E66D21;
	padding-left: 25px;
}

ul.sidebar-course-progress li.active a:hover,
ul.sidebar-course-progress li.active a:active
{
	background: #F95423;
	border-left: 6px solid #E5391A;
	color: #fff;
}

ul.sidebar-course-progress li .anchor i.fa
{
	float: left;
	padding: 2px 6px 0 0;
	margin: 0 0 0 -2px;
	transition: all 100ms ease-out;
}

ul.sidebar-course-progress li.material .anchor i.fa
{
	color: #f44;
	text-shadow: 1px 2px 0 #A30C1F;
}

ul.sidebar-course-progress li.test .anchor i.fa
{
	color: #126491;
}

ul.sidebar-course-progress li a.anchor:hover i.fa,
ul.sidebar-course-progress li.active .anchor i.fa
{
	color: #fff;
	text-shadow: none;
}

ul.sidebar-course-progress li .anchor > span
{
	display: block;
	margin-left: 17px;
}

ul.sidebar-course-progress li .anchor > span span.glyphicon
{
	float: right;
	padding-right: 4px;
}

ul.sidebar-course-progress li .anchor > span span.glyphicon.glyphicon-record
{
	color: #fff;
	text-shadow: 0 2px 0 #C93317;
	padding-top: 1px;
}

ul.sidebar-course-progress li .anchor > span span.glyphicon.glyphicon-lock
{
	color: #777;
	text-shadow: 0 1px 0 #444;
}

.centered-titles
{
	text-align: center;
	position: relative;
}

.centered-titles h1,
.centered-titles h2
{
	margin-bottom: 0;
	padding-bottom: 0;
}

.centered-titles h3
{
	min-height: 42px;
	position: relative;
}

.centered-titles h3 div.line
{
	display: block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}

.centered-titles h3 div.text
{
	width: 100%;
	float: left;
	display: block;
	margin-top: -15px;
	padding: 0 1em;
}

div.text span
{
	background: #fff;
	padding: 0 12px;
}

/**************************************************************/

.centered-form
{
	width: 75%;
	margin: 2em auto 0 auto;
}

#login-status
{
	float: right;
	position: fixed;
	top: 0;
	right: 40px;
	padding: 8px 18px;
	background: #fff;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 3px 1px rgba(190, 95, 8, 0.32);
	z-index: 99999;
}

#login-status a
{
	display: inline-block;
	padding: 0 6px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.btn
{
	transition: all 80ms ease-out;
}

.alert a
{
	text-decoration: underline;
}

div.course-description
{
	padding: 10px 0;
	margin-bottom: 1em;
	color: #444;
	border-bottom: 1px solid #ddd;
}

div.unpublish-alert
{
	margin: 0.5em 0 0.5em 0 !important;
	text-align: center;
	padding: 10px !important;
}

div.error-block
{
	font-family: 'Lato', sans-serif;
	background: #B00016;
	border: 1px solid #6B000D;
	color: #fff;
	text-align: center;
	margin: 1em 0;
	padding: 12px;
	border-radius: 3px;
}

div.error-block a
{
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

div.error-block a:hover
{
	text-decoration: none;
}

div.error-block b
{
	font-style: oblique;
}

div.alert a
{
	text-decoration: none;
	display: inline-block;
}

div.alert a .glyphicon
{
	display: inline-block;
	padding-left: 5px;
}

div.alert a:link > span.ul,
div.alert a:visited > span.ul
{
	text-decoration: underline;
	font-weight: bold;
}

div.alert a:hover > span.ul,
div.alert a:active > span.ul
{
	text-decoration: none;
}

div.alert.alert-danger a:link,
div.alert.alert-danger a:visited
{
	color: #fff;
}

div.alert.alert-danger a:hover,
div.alert.alert-danger a:active
{
	color: #FED4D5;
}

div.list
{
	padding-top: 1.2em;
}

div.list div.list-item
{
	border: 1px solid #eaeaea;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 2px 0px #f4f4f4;
	border-radius: 6px;
	overflow: hidden;
	margin: 0 0 1em 0;
}

div.list div.list-item.list-item-flat
{
	border: none;
	border-bottom: none;
	box-shadow: none;
}

div.list div.list-item .title
{
	font-size: 18pt;
	margin: 0;
	position: relative;
}

div.list div.list-item .title div.status
{
	float: right;
	position: absolute;
	top: -10px;
	right: 0;
	bottom: 0;
	width: 350px;
	overflow: hidden;
	text-align: right;
}

div.list div.list-item .title div.status .glyphicon
{
	font-size: 50pt;
}

div.list div.list-item .title div.status.completed
{
	color: #62AF49;
}

div.list div.list-item .title div.status.in-progress
{
	color: #FEA43E;
}

div.list div.list-item .title div.status.started
{
	color: #FFD030;
}

div.list div.list-item .title div.status.locked
{
	color: #aaa;
}

div.list div.list-item .title div.status.new-test
{
	color: #28AAFF;
}

div.list div.list-item .title div.status p
{
	float: right;
	position: absolute;
	right: 78px;
	bottom: -2px;
	font-weight: 900;
	font-size: 13pt;
	color: #000;
}

div.list div.list-item .title .title-anchor
{
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	background: #f6f6f6;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	outline: none !important;
}

div.list div.list-item .title.title-dual-row .small-title
{
	font-size: 10pt;
	display: block;
}

div.list div.list-item .title.title-dual-row i.fa
{
	float: left;
	display: block;
	padding-top: 25px;
	margin: 0 8px 0 0;
	/*width: 31px;*/
}

div.list div.list-item.list-item-flat .title .title-anchor
{
	background: none;
}

div.list div.list-item .title a:hover,
div.list div.list-item .title a:active
{
	background: #f2f2f2;
	color: #E7491A;
}

div.list div.list-item .title .title-anchor i.fa
{
	display: inline-block;
	padding-right: 8px;
	color: #444;
}

div.list div.list-item .title .title-anchor i.fa.material-icon
{
	color: #f44;
	text-shadow: 1px 2px 0 #A30C1F;
}

div.list div.list-item .title .title-anchor i.fa.test-icon
{
	color: #126491;
}

div.list div.list-item .description,
.course-description
{
	text-align: justify;
	padding: 12px 18px 12px 18px;
	margin: 0;
	color: #555;
	background: #fcfcfc;
	font-size: 11pt;
}

div.list div.list-item .description .inner
{
	padding: 0.45em 0;
}

div.list div.list-item .description blockquote,
.course-description blockquote
{
	font-size: 11pt;
	border-left-color: #ddd;
}

div.list div.list-item.list-item-flat .description
{
	background: none;
}

div.list div.list-item .description .read-more
{
	text-align: right;
	margin: 12px 0 0 0;
	padding: 8px 0 0 0;
	border-top: 1px solid #eee;
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

div.list div.list-item .description .read-more .btn
{
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 0 #245995;
	outline: none;
	padding: 5px 14px;
}

div.list div.list-item .description .test.read-more .btn
{
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 0 #AAAAAA;
}

div.list div.list-item .description .alert
{
	margin: 1em 0 0 0;
	padding: 8px 10px 2px 10px;
	min-height: auto;
}

div.list div.list-item .description .alert div
{
	padding: 6px 0 1px 0;
}

div.test-material-body
{
	text-align: justify;
}

div.test-material-body img
{
	border: 0;
	margin: 1em;
}

form.test-form .test-title
{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

form.test-form div.test-description
{
	color: #555;
	text-align: justify;
	padding-bottom: 1em;
}

.form-horizontal .form-group
{
	margin-left: 0;
	margin-right: 0;
}

div.tabs
{
	height: 44px;
	border-bottom: 1px solid #ddd;
}

div.tabs .tab
{
	margin: 0 !important;
	padding: 0 4px;
}

div.tabs .tab a
{
	float: left;
	display: block;
	width: 100%;
	height: 43px;
	padding: 9px 0 0 0;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #ddd;
	border-bottom: none;
	background: #eee;
	cursor: pointer;
	text-decoration: none;
	font-size: 13pt;
	font-family: 'Lato';
	font-weight: bold;
	transition: all 150ms ease-out;
	outline: none !important;
}

div.tabs .tab.active a
{
	color: #F43313;
}

div.tabs .tab a:hover,
div.tabs .tab a:active
{
	color: #D33F13;
}

div.tabs .tab a .glyphicon
{
	display: inline-block;
	margin-left: 5px;
}

div.tabs .tab:not(.active) a
{
	box-shadow: inset 0 -2px 4px #ddd;
}

div.tabs .tab:not(.active) a:hover
{
	box-shadow: inset 0 -2px 4px #d0d0d0;
	background: #e2e2e2;
}

div.tabs .tab.active a
{
	height: 44px;
	background: #fff;
}

#authentication-form .form-help
{
	max-width: 66%;
	margin: 0 auto;
	padding: 1.5em 0 1em 0;
	text-align: center;
}

div.tab-content-wrapper
{
	overflow: hidden !important;
	transition: height 350ms ease-out;
}

.form-register div.tab-content-wrapper
{
	height: 285px;
}

.form-login div.tab-content-wrapper
{
	height: 232px !important;
}

.button-text
{
	display: none;
}

.form-register .button-text.button-text-register
{
	display: inline-block;
}

.form-login .button-text.button-text-login
{
	display: inline-block;
}

div.tab-content-row
{
	width: 300%;
}

div.tab-content-row > div.tab-panel
{
	display: inline-block;
	width: 710px;
	margin: 0 auto;
	transition: margin 350ms ease-out;
}

#authentication-form div.group-code
{
	overflow: hidden;
	padding-top: 1.2em;
}

#authentication-form div.group-code > .form-group
{
	width: 710px !important;
}

.form-register div.tab-panel:first-child
{
	margin-left: 0px;
}

.form-login div.tab-panel:first-child
{
	margin-left: -710px;
}

fieldset legend
{
	padding-left: 0.4em;
}

/*********************************************************************/

.test-status-alert .pull-right
{
	margin: 0 0 0.5em 1em;
}

/*********************************************************************/

div.question
{
	display: block;
	padding: 0;
	margin: 0 0 1em 0;
	background: #fafafa;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	transition: border 200ms ease-out, box-shadow 200ms ease-out;
}

div.question .form-group
{
	padding: 3px 15px;
}

div.question div.header
{
	font-family: 'Lato', sans-serif;
	padding: 7px 15px 12px 12px;
	margin: 0;
	min-height: 48px;
	background: #f1f1f1;
	border-left: 4px solid #e4e4e4;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

div.question.no-validation div.header
{
	border-left: 4px solid #DB690D;	
}

div.question div.header .number
{
	float: left;
	font-size: 28px;
	font-weight: bold;
	margin-top: -1px;
	width: 40px;
	text-align: right;
}

div.question div.header .title
{
	font-weight: bold;
	margin-left: 54px;
	position: relative;
	z-index: 50 !important;
}

div.question div.header .subtitle
{
	font-weight: normal;
	margin: 0;
	color: #555;
	position: relative;
	z-index: 50 !important;
}

div.question div.header .subtitle img
{
	max-width: 50%;
	height: auto;
	margin: 0 1em 0 0;
	padding: 2px;
	border: 1px solid #aaa;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
}

div.question div.header .big-validation-icon
{
	width: 110px;
	min-height: 90px;
	font-size: 80pt;
	position: absolute;
	top: -30px;
	right: 0;
	text-align: right;
	overflow: hidden;
	z-index: 2;
	opacity: 0.25;
}

div.question.correct div.header .big-validation-icon
{
	color: #347F15;
	/*text-shadow: 0 1px 0 #16370B;*/
}

div.question.partially-correct div.header .big-validation-icon
{
	color: #B1720F;
	/*text-shadow: 0 1px 0 #854F0C;*/
}

div.question.incorrect div.header .big-validation-icon
{
	color: #77000F;
	/*text-shadow: 0 1px 0 #54000C;*/
}

div.question.correct div.header
{
	border-top: 2px solid #4CA920;
}

div.question.partially-correct div.header
{
	border-top: 2px solid #E39E11;
}

div.question.incorrect div.header
{
	border-top: 2px solid #C20B25;
}

div.question div.validation
{
	color: #fff;
	padding: 8px 16px;
	font-weight: bold;
}

div.question div.validation.correct
{
	background: #4CA920;
	border-left: 4px solid #347F15;
}

div.question div.validation.partially-correct
{
	background: #E39E11;
	border-left: 4px solid #B1720F;
}

div.question div.validation.incorrect
{
	background: #A30017;
	border-left: 4px solid #77000F;
}

div.question div.answer
{
	padding: 1em 0 0 0;
}

div.question div.answer .tip
{
	padding: 8px 10px;
}

div.question div.correct-answers
{
	background: #fff;
	border: 1px solid #0C7EB9;
	box-shadow: inset 0 1px 1px #93CAE6;
	padding: 7px 12px 9px 12px;
	margin-top: 10px;
	border-radius: 4px;
	line-height: 1.3;
	transition: all 150ms ease-in-out;
}

div.question div.correct-answers:not(.spoiled)
{
	background-image: url('/img/stripes.png');
}

div.question div.correct-answers span.glyphicon
{
	float: left;
	display: block;
	font-size: 35px;
	color: #096FA4;
}

div.question div.correct-answers ul
{
	padding: 0 0 0 45px;
	margin: 0;
	display: none;
}

div.question div.correct-answers.spoiled ul
{
	display: block;
}

a.spoiler-warning
{
	cursor: pointer;
	text-decoration: none;
}

div.question div.correct-answers .spoiler-warning
{
	display: block;
	padding: 0 0 0 45px;
}

div.question div.correct-answers.spoiled .spoiler-warning
{
	display: none;
}

div.question div.correct-answers li
{
	display: inline-block;
	padding: 0;
	margin: 0;
}

div.question div.correct-answers li:after
{
	content: ', ';
}

div.question div.correct-answers li:last-child:after
{
	content: '';
}

div.question div.answer-feedback
{
	background: #fff;
	border: 1px solid #57B10C;
	box-shadow: inset 0 1px 1px #B2E381;
	padding: 7px 12px 9px 12px;
	margin-top: 10px;
	border-radius: 4px;
	line-height: 1.3;
}

div.question div.answer-feedback span.glyphicon
{
	float: left;
	display: block;
	font-size: 35px;
	color: #43820D;
}

div.question div.correct-answers h4,
div.question div.answer-feedback h4
{
	font-family: 'Source Sans Pro';
	font-weight: bold;
	margin: 0 0 0 45px;
	padding: 2px 0 3px 0;
	font-size: 11pt;
}

div.question div.correct-answers p,
div.question div.answer-feedback p
{
	margin: 0 0 0 45px;
	padding: 0;
	font-size: 10pt;
}

div.question div.checkbox,
div.question div.radio
{
	margin: 0;
	padding: 0;
}

div.question .radio label,
div.question .checkbox label
{
	display: block;
	padding: 6px 6px 6px 28px;
	margin: 0;
	border: 1px solid transparent;
	transition: all 80ms ease-in-out;
}

div.question .radio.has-answer label,
div.question .checkbox.has-answer label
{
	background: #fff;
	box-shadow: 0 1px 0 #ccc;
	border-radius: 4px;
}

div.question .radio label:hover,
div.question .checkbox label:hover
{
	background: #fff;
	border: 1px solid #e2e2e2;
	box-shadow: 0 1px 0 #ddd;
	border-radius: 4px;
}

div.question .radio label .glyphicon,
div.question .checkbox label .glyphicon
{
	float: right;
}

div.question div.answer .row .glyphicon
{
	display: none;
}

div.question div.answer .row.has-success .glyphicon,
div.question div.answer .row.has-error .glyphicon
{
	display: block;
}

div.question input,
div.question label
{
	outline: none !important;
}

div.question textarea
{
	height: 10em;
	min-height: 10em;
	resize: vertical;
}

div.question input,
div.question textarea
{
	background: #fcfcfc;
	transition: background-color 100ms ease-in-out,
				box-shadow 60ms ease-in-out,
				border-color 60ms ease-in-out;
}

div.question input[type="text"],
div.question textarea
{
	box-shadow: 0 2px 0 #e7e7e7;
}

div.question input:focus,
div.question textarea:focus
{
	border-color: #CDA12B;
	box-shadow: 0 2px 2px #F2EAD1;
}

div.question .has-success input[type="text"],
div.question .has-success textarea
{
	box-shadow: 0 2px 0 #D4E4CC;
}

div.question .has-success input:focus,
div.question .has-success textarea:focus
{
	border-color: #4E9633;
	box-shadow: 0 2px 2px #9DDE86;
}

div.question .has-error input[type="text"],
div.question .has-error textarea
{
	box-shadow: 0 2px 0 #E5BEC0;
}

div.question .has-error input:focus,
div.question .has-error textarea:focus
{
	border-color: #832226;
	box-shadow: 0 2px 2px #E58D92;
}

div.question input:hover, div.question input:focus,
div.question textarea:hover, div.question textarea:focus
{
	background: #fff;
}

div.question .multitext div.row
{
	padding: 0 0 0.5em 0;
}

div.question .multitext .control-label
{
	text-align: right;
}

div.alert.alert-danger
{
	color: #fff;
	border: 1px solid #8F0923;
	border-radius: 5px;
	background: #BA1D34;
}

div.alert.alert-danger hr
{
	margin-top: 8px;
	margin-bottom: 10px;
}

div.alert-icon
{
	padding-bottom: 5px;
	min-height: 4.8em;
}

div.alert-icon > .glyphicon,
div.alert-icon > i.fa
{
	float: left;
	display: block;
	font-size: 38px;
	width: 38px;
	text-align: center;
}

div.alert-icon.alert-icon-small
{
	min-height: 4.1em;
}

div.alert-icon.alert-icon-small > .glyphicon,
div.alert-icon.alert-icon-small > i.fa
{
	font-size: 28px !important;
	width: 28px;
}

div.alert-icon > div
{
	margin: 0 0 0 50px;
}

div.alert-icon > div .btn
{
	margin-top: 8px;
}

div.alert-icon.alert-icon-small > div
{
	margin: 0 0 0 40px;
}

div.alert-icon > div.clearfix
{
	margin: 0;
	padding: 0;
}

blockquote
{
	font-size: inherit !important;
}

ul.user-groups
{
	width: 600px;
	margin: 0;
	padding: 0 0 0 10px;
}

ul.user-groups li
{
	height: 70px;
	padding: 15px 0 0 0;
	list-style: none;
	border-bottom: 1px solid #ddd;
}

ul.user-groups li .btn
{
	float: right;
	margin-top: -16px;
}

a.bref
{
	text-decoration: underline;
}

a.bref:hover
{
	text-decoration: none;
}

.big-info,
.big-error
{
	padding-top: 50px;
	text-align: center;
}

label.control-label small
{
	font-weight: normal !important;
	color: #555;
	display: block;
}

.fancy-radio 
{
	padding-bottom: 1em;
}

.fancy-radio .radio label
{
	display: block;
	padding: 6px 6px 6px 30px;
	border-radius: 4px;
	background: #f4f4f4;
	border: 1px solid #E3E3E3;
	transition: background 150ms ease-out, border 150ms ease-out;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.fancy-radio .radio.active label
{
	background: #8FE147;
	border: 1px solid #70C332;
}

.fancy-radio .radio label:hover
{
	background: #FFDB6F;
	border: 1px solid #E8CA56;
	box-shadow: 0 2px 3px #FFEAA9;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
