<div id="content-sidebar">
	<h2>Sivupalkki</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eaque tempora possimus, nisi eveniet ex veritatis temporibus ratione quo eos.</p>
	<p>Doloremque porro maxime reprehenderit sequi harum reiciendis incidunt soluta rem ipsam nulla non, distinctio molestiae dolorum alias, eaque quia. Dolor, voluptates temporibus nesciunt ullam sed veritatis, ratione tenetur quo, ipsum minima consectetur est quam obcaecati cumque, porro.</p>
</div>
<div id="content-main">
	<h1>Koesuoritukset</h1>
	<div class="actions-row">
		<div>
			<input type="text" ng-model="searchFilter" placeholder="Hae koesuorituksia" class="form-control search-filter">
		</div>
		<div class="replied-to-toggles">
			<div class="radio">
				<label class="btn" ng-class="{'btn-warning': archiveFilter.replied_to == 0, 'btn-default': archiveFilter.replied_to != 0}">
					<input type="radio" ng-model="archiveFilter.replied_to" value="0"> Näytä vastaamattomat
				</label>
			</div>
			<div class="radio">
				<label class="btn" ng-class="{'btn-warning': archiveFilter.replied_to == 1, 'btn-default': archiveFilter.replied_to != 1}">
					<input type="radio" ng-model="archiveFilter.replied_to" value="1"> Näytä vastatut
				</label>
			</div>
			<div class="radio">
				<label class="btn" ng-class="{'btn-warning': archiveFilter.replied_to === undefined, 'btn-default': archiveFilter.replied_to !== undefined}">
					<input type="radio" ng-model="archiveFilter.replied_to" ng-value="undefined"> Näytä kaikki
				</label>
			</div>
		</div>
		<div class="discarded-toggles">
			<div class="radio">
				<label class="btn" ng-class="{'btn-info': archiveFilter.discarded == 0, 'btn-default': archiveFilter.discarded != 0}">
					<input type="radio" ng-model="archiveFilter.discarded" value="0"> Piilota hylätyt
				</label>
			</div>
			<div class="radio">
				<label class="btn" ng-class="{'btn-info': archiveFilter.discarded === undefined, 'btn-default': archiveFilter.discarded !== undefined}">
					<input type="radio" ng-model="archiveFilter.discarded" ng-value="undefined"> Näytä hylätyt
				</label>
			</div>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<td style="width:40px;"></td>
				<td style="width:180px">Kokeen suorittaja</td>
				<td style="min-width:200px">Koe</td>
				<td style="width:24%">Kurssi</td>
				<td style="width:20%">Tulos</td>
				<td class="list-actions" style="width:200px">Toiminnot</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, item) in archive | filter : searchFilter | filter : archiveFilter" ng-class="{'missing-test':!item.test}">
				<td style="font-weight: bold;text-align: right;">[[ key + 1 ]].</td>
				<td>
					[[ item.user.name ]]
				</td>
				<td>
					<div ng-if="item.test">
						<a href="#/tests/[[ item.test.id ]]">
							[[ item.test.title ]]
						</a>
						<div class="labels pull-right">
							<span class="label label-primary" ng-if="item.replied_to">Vastattu</span>
							<span class="label label-warning" ng-if="item.discarded">Hylätty</span>
						</div>
					</div>
					
					<span ng-if="!item.test" style="color:#c22;font-weight: bold;">
						Koe on poistettu
					</span>
				</td>
				<td>
					<a href="#/courses/[[ item.test.course.id ]]">
						[[ item.test.course.title ]]
					</a><br>
				</td>
				<td class="test-result">
					<div class="clearfix">
						<span class="icon" ng-class="{'all-correct': item.data.all_correct, 'partially-correct': !item.data.all_correct && item.data.num_correct > 0, 'incorrect': item.data.num_correct == 0}">
							<span class="glyphicon glyphicon-ok-circle" ng-show="item.data.all_correct"></span>
							<span class="glyphicon glyphicon-remove-circle" ng-show="!item.data.all_correct"></span>
						</span>
						<span class="number">
							<b>[[ item.data.num_correct ]] / [[ item.data.total ]]</b> oikein
						</span>
					</div>
				</td>
				<td class="list-actions">
					<a href="#/archive/[[ item.id ]]/reply" class="btn btn-success btn-sm" ng-disabled="!item.test || item.replied_to">
						<span class="glyphicon glyphicon-ok"></span> Vastaa
					</a>
					<button type="button" class="btn btn-warning btn-sm" ng-click="discard(item)">
						<span class="glyphicon glyphicon-remove"></span> Hylkää
					</button>
				</td>
			</tr>
			<tr ng-if="(archive | filter : searchFilter | filter : archiveFilter).length == 0">
				<td colspan="6" style="text-align: center;font-weight: bold;">
					Ei suorituksia annetuilla hakuehdoilla
				</td>
			</tr>
		</tbody>
	</table>
</div>