<div id="content-sidebar" ng-show="loaded">
	<h2>Toiminnot</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eaque tempora possimus, nisi eveniet ex veritatis temporibus ratione quo eos.</p>
	<a href="#/tests/new/{{ course.id }}" class="btn btn-success btn-block btn-lg">
		<span class="glyphicon glyphicon-plus"></span> Lisää uusi koe
	</a>
</div>
<div id="content-main">
	<h1>Kurssi: {{ course.title }}</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<td style="width:40px"></td>
				<td style="width:250px">Kokeen otsikko</td>
				<td style="width:25%">Kuvaus</td>
				<td>Kysymykset</td>
				<td>Toiminnot</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, test) in course.tests">
				<td style="font-weight: bold;text-align: right;background:#fafafa">{{ key + 1 }}.</td>
				<td>
					<a href="#/tests/{{ test.course.id }}">
						{{ test.title }}
					</a>
				</td>
				<td>{{ test.description }}</td>
				<td>
					<ul>
						<li ng-repeat="question in test.questions">{{ question.title }}</li>
					</ul>
					<span ng-show="test.questions.length == 0">Ei kysymyksiä</span>
				</td>
				<td>
					<a href="#/tests/{{ test.id }}/edit" class="btn btn-primary btn-xs btn-block">
						<span class="glyphicon glyphicon-edit"></span> Muokkaa
					</a>
					<a href="#/tests/{{ test.id }}/delete" class="btn btn-danger btn-xs btn-block">
						<span class="glyphicon glyphicon-trash"></span> Poista
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vel maiores temporibus distinctio laborum asperiores odio ratione expedita reprehenderit rerum quos recusandae quae facilis necessitatibus ducimus minus exercitationem, atque dolorem omnis unde, ad, consectetur sed! Doloremque id distinctio perferendis, vel.
	</p>
</div>

<div class="load-placeholder" ng-show="!loaded">
	<h3>
		<img src="/img/ajax-loader.gif" alt=""> Ladataan...
	</h3>
</div>