<div id="content-sidebar" ng-show="loaded">
	<h2>Toiminnot</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eaque tempora possimus, nisi eveniet ex veritatis temporibus ratione quo eos.</p>
	<a href="#/course/[[ course.id ]]/edit" class="btn btn-primary btn-block btn-lg">
		<span class="glyphicon glyphicon-edit"></span> Muokkaa kurssia
	</a>
	<a href="#/tests/new/[[ course.id ]]" class="btn btn-success btn-block btn-lg">
		<span class="glyphicon glyphicon-plus"></span> Lisää uusi koe
	</a>
</div>
<div id="content-main" ng-show="loaded">
	<div class="breadcrumbs">
		<ol class="breadcrumb">
			<li><a href="#/">Ylläpitopaneeli</a></li>
			<li><a href="#/courses/">Kurssit</a></li>
			<li>Kurssi: [[ course.title || '-' ]]</li>
		</ol>
	</div>
	
	<form ng-submit="saveCourseInfo()" class="form-horizontal">
		<div class="pull-right" ng-show="!isEditing">
			<button class="btn btn-primary" type="button" ng-click="startEditing()">
				<span class="glyphicon glyphicon-edit"></span> Muokkaa kurssia
			</button>
		</div>
		<div class="course-title">
			<div ng-show="!isEditing">
				<h1>Kurssi: [[ course.title ]]</h1>
				<p>
					[[ course.description ]]
				</p>
			</div>
			<div ng-show="isEditing">
				<h1>Kurssi: [[ course.title ]]</h1>
				<input type="text" class="form-control input-lg" ng-model="course.title" placeholder="Kurssin otsikko"/>
				<textarea class="form-control input-lg vertical-textarea" ng-model="course.description" placeholder="Kurssin kuvaus"></textarea>
				<button class="btn btn-primary pull-right">
					<span class="glyphicon glyphicon-save"></span> Tallenna
				</button>
			</div>
		</div>
		<div class="clearfix"></div>
	</form>
	<div class="actions-row">
		<div class="pull-right" style="text-align: right">
			<a href="#/tests/new/[[ course.id ]]" class="btn btn-success">
				<span class="glyphicon glyphicon-plus"></span> Lisää uusi koe
			</a>
		</div>
		<div>
			<input type="text" ng-model="searchFilter" placeholder="Hae kursseja" class="form-control search-filter">
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<td style="width:40px"></td>
				<td style="width:160px">Kokeen otsikko</td>
				<td>Kuvaus</td>
				<td>Kysymykset</td>
				<td style="width:160px">Toiminnot</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, test) in course.tests | filter : searchFilter">
				<td style="font-weight: bold;text-align: right;background:#fafafa">[[ key + 1 ]].</td>
				<td>
					<a href="#/tests/[[ test.course.id ]]">
						[[ test.title ]]
					</a>
				</td>
				<td>[[ test.description ]]</td>
				<td>
					<ol>
						<li ng-repeat="question in test.questions">[[ question.title ]]</li>
					</ol>
					<span ng-show="test.questions.length == 0">Ei kysymyksiä</span>
				</td>
				<td>
					<a href="#/tests/[[ test.id ]]/edit" class="btn btn-primary btn-xs btn-block">
						<span class="glyphicon glyphicon-edit"></span> Muokkaa
					</a>
					<a href="#/tests/[[ test.id ]]/delete" class="btn btn-danger btn-xs btn-block">
						<span class="glyphicon glyphicon-trash"></span> Poista
					</a>
				</td>
			</tr>
			<tr ng-hide="(course.tests | filter : searchFilter).length > 0">
				<td colspan="5" style="text-align: center;">
					<b>Ei tuloksia.</b>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vel maiores temporibus distinctio laborum asperiores odio ratione expedita reprehenderit rerum quos recusandae quae facilis necessitatibus ducimus minus exercitationem, atque dolorem omnis unde, ad, consectetur sed! Doloremque id distinctio perferendis, vel.
	</p>
</div>

<div class="load-placeholder" ng-show="!loaded">
	<h3>
		<img src="/img/ajax-loader.gif" alt=""> Ladataan...
	</h3>
</div>