<form ng-submit="submit(data)" ng-show="loaded">
	<div id="content-sidebar" class="fixed">
		<h2>Toiminnot</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eaque tempora possimus, nisi eveniet ex veritatis temporibus ratione quo eos.</p>
		<p>Doloremque porro maxime reprehenderit sequi harum reiciendis incidunt soluta rem ipsam nulla non, distinctio molestiae dolorum alias, eaque quia. Dolor, voluptates temporibus nesciunt ullam sed veritatis, ratione tenetur quo, ipsum minima consectetur est quam obcaecati cumque, porro.</p>

		<button type="button" class="btn btn-success btn-block" ng-click="add_question()" ng-disabled="data.test.questions.length >= 15">
			<span class="glyphicon glyphicon-plus"></span> Lisää uusi kysymys
		</button>
		<div class="help-block center-text" ng-show="data.test.questions.length >= 15">
			Maksimimäärä kysymyksiä saavutettu
		</div>

		<hr>
		<button type="submit" class="btn btn-primary btn-block btn-lg">
			<span class="glyphicon glyphicon-floppy-disk"></span> Tallenna
		</button>
		<a href="#/courses/[[ data.test.course.id ]]" class="btn btn-default btn-block">
			<span class="glyphicon glyphicon-chevron-left"></span> Peruuta
		</a>
	</div>
	<div id="content-main">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#/">Ylläpitopaneeli</a></li>
				<li><a href="#/courses/">Kurssit</a></li>
				<li><a href="#/courses/[[ data.test.course.id ]]">Kurssi: [[ data.test.course.title || '-' ]]</a></li>
				<li>
					<span ng-show="!id">Uusi koe</span>
					<span ng-show="id">Muokataan koetta</span>
				</li>
			</ol>
		</div>
		<h1>
			<span ng-show="!id">Uusi koe</span>
			<span ng-show="id">Muokataan koetta</span>
			<span ng-show="data.test.title">/ <b>[[ data.test.title ]]</b></span>
		</h1>
		<div class="form-group">
			<input type="text" class="form-control input-lg input-block" id="test-title" ng-model="data.test.title" placeholder="Kokeen otsikko">
		</div>
		<div class="form-group">
			<textarea class="form-control" ng-model="data.test.description" placeholder="Kokeen kuvaus" style="resize:vertical;min-height:8em;"></textarea>
		</div>
		<ul class="questions" ui-sortables="sortableOptions" ng-model="data.test.questions">
			<li class="question" ng-repeat="(qkey, question) in data.test.questions" id="question-[[ qkey ]]">
				<div class="info">
					<div class="actions">
						<button type="button" class="btn btn-primary btn-xs" ng-click="edit(qkey, question.id)">
							<span class="glyphicon glyphicon-edit"></span> Muokkaa
						</button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="delete(qkey, question.id)">
							<span class="glyphicon glyphicon-trash"></span> Poista
						</button>
					</div>
					<div class="title-row clearfix">
						<div class="right-aligned">
							<div class="type">
								[[ translate_type(question.type) ]]
							</div>
						</div>
						<div class="left-aligned">
							<!-- <div class="bulk-checkbox">
								<input type="checkbox" ng-model="bulk_actions" ng-value="qkey">
							</div> -->
							<div class="number">[[ (qkey + 1) ]].</div>
							<div class="title" ng-class="{'no-subtitle': question.subtitle.trim().length == 0, 'dimmed': question.title.trim().length == 0}">
								[[ question.title || 'Kysymys puuttuu' ]]
							</div>
							<div class="subtitle">
								[[ question.subtitle.split('\n')[0] ]]
							</div>
						</div>
					</div>
				</div>
				<div class="edit">
					<div class="form-group clearfix">
						<div class="col-xs-7">
							<div class="form-group">
								<label for="">Kysymys</label>
								<input type="text" class="form-control" ng-model="question.title" placeholder="Syötä kysymys">
							</div>
							<div class="form-group">
								<label for="">Kysymyksen tarkennus</label>
								<textarea class="form-control vertical-textarea" ng-model="question.subtitle" placeholder="Syötä tarkentava kuvaus"></textarea>
							</div>
						</div>
						<div class="col-xs-5 help-sidepanel">
							<p>
								Syötä kysymys viereiseen tekstikenttään.
							</p>
							<p>
								Voit halutessassi myös tarkentaa kysymystä alempaan kenttään, vaikka syöttämällä esimerkkejä, lisämateriaalia tai jopa kuvia. Voit käyttää normaalia HTML-merkintäkoodia kentässä.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga placeat omnis consequuntur adipisci, eligendi architecto nobis. Doloremque vero quibusdam pariatur repudiandae, magni impedit ab totam quasi molestiae.
							</p>
						</div>
					</div>
					
					<div class="form-group question-details">
						<ul class="question-type">
							<li ng-repeat="type in question_types">
								<label ng-class="{'active': question.type == type}">
									<input type="radio" ng-model="question.type" ng-value="type"> [[ translate_type(type) ]]
								</label>
							</li>
						</ul>
						<div class="question-answers">
							<div ng-show="question.type == 'MULTI'">
								<h3>Vaihtoehdot / Monivalinta</h3>
								<p>
									Käyttäjän tulee valita yksi tai useampi oikea vastaus monesta:
								</p>
								<div class="form-group answer" ng-repeat="(akey, answer) in question.answers">
									<label for="question-[[ qkey ]]-answer-[[ akey ]]" class="answer-label">[[ akey + 1 ]].</label>
									<div class="col answer-text">
										<input type="text" class="form-control" id="question-[[ qkey ]]-answer-[[ akey ]]" ng-model="answer.text" placeholder="Vaihtoehdon teksti">
									</div>
									<div class="col answer-is-correct">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-model="answer.is_correct"> Oikea vaihtoehto
											</label>
										</div>
									</div>
									<div class="col answer-delete" ng-hide="question.answers.length <= 2">
										<a class="cursor-pointer" ng-click="remove_answer(qkey, akey)">
											<span class="glyphicon glyphicon-remove"></span> Poista
										</a>
									</div>
								</div>
								<div class="form-group answer">
									<label for="question-[[ qkey ]]-answer-[[ akey ]]" class="answer-label">Lisää uusi</label>
									<div class="col answer-text">
										<input type="text" class="form-control" ng-enter="add_answer.do(qkey, question.id)" ng-model="add_answer.text" placeholder="Syötä uusi vaihtoehto">
									</div>
									<div class="help-block" ng-show="add_answer.text != ''">
										Paina Enter varmistaaksesi lisäys
									</div>
								</div>
							</div>
							<!-- ================================================================== -->
							<div ng-show="question.type == 'CHOICE'">
								<h3>Vaihtoehdot / Yksivalinta</h3>
								<p>
									Käyttäjän tulee valita yksi oikea vastaus monesta:
								</p>
								<div class="form-group answer" ng-repeat="(akey, answer) in question.answers">
									<label for="question-[[ qkey ]]-answer-[[ akey ]]" class="answer-label">[[ akey + 1 ]].</label>
									<div class="col answer-text">
										<input type="text" class="form-control" id="question-[[ qkey ]]-answer-[[ akey ]]" ng-model="answer.text" placeholder="Vaihtoehdon teksti">
									</div>
									<div class="col answer-is-correct">
										<div class="radio">
											<label>
												<input type="radio" ng-model="question.correct_answer" value="[[ akey ]]"> Oikea vaihtoehto
											</label>
										</div>
									</div>
									<div class="col answer-delete" ng-hide="question.answers.length <= 2">
										<a class="cursor-pointer" ng-click="remove_answer(qkey, akey)">
											<span class="glyphicon glyphicon-remove"></span> Poista
										</a>
									</div>
								</div>
								<div class="form-group answer">
									<label for="question-[[ qkey ]]-answer-[[ akey ]]" class="answer-label">Lisää uusi</label>
									<div class="col answer-text">
										<input type="text" class="form-control" ng-enter="add_answer.do(qkey, question.id)" ng-model="add_answer.text" placeholder="Syötä uusi vaihtoehto">
									</div>
									<div class="help-block" ng-show="add_answer.text != ''">
										Paina Enter varmistaaksesi lisäys
									</div>
								</div>
							</div>
							<!-- ================================================================== -->
							<div ng-show="question.type == 'MULTITEXT'">
								<h3>Vastaukset / Moniteksti</h3>
								<p>
									Käyttäjän tulee syöttää vastaukseksi kaikki alla olevat sanat tai lauseet:
								</p>

								<div class="form-group answer" ng-repeat="(akey, answer) in question.answers">
									<label for="question-[[ qkey ]]-answer-[[ akey ]]" class="answer-label">[[ akey + 1 ]].</label>
									<div class="col answer-text">
										<input type="text" class="form-control" id="question-[[ qkey ]]-answer-[[ akey ]]" ng-model="answer.text" placeholder="Vastaus">
									</div>
									<div class="col answer-delete" ng-hide="question.answers.length <= 2">
										<a class="cursor-pointer" ng-click="remove_answer(qkey, akey)">
											<span class="glyphicon glyphicon-remove"></span> Poista
										</a>
									</div>
								</div>
								<div class="form-group answer">
									<label for="question-[[ qkey ]]-answer-[[ akey ]]" class="answer-label">Lisää uusi</label>
									<div class="col answer-text">
										<input type="text" class="form-control" ng-enter="add_answer.do(qkey, question.id)" ng-model="add_answer.text" placeholder="Kirjoita sana tai lause">
									</div>
									<div class="help-block" ng-show="add_answer.text != ''">
										Paina Enter varmistaaksesi lisäys
									</div>
								</div>
							</div>
							<!-- ================================================================== -->
							<div ng-show="question.type == 'TEXT'">
								<h3>Vastaukset / Teksti</h3>
								<p>
									Käyttäjän tulee syöttää vastaukseksi alla oleva sana tai lause:
								</p>
								<div class="form-group answer">
									<div class="col answer-text wide">
										<input type="text" class="form-control" ng-model="question.answers[0].text" placeholder="Vastaus">
									</div>
								</div>
							</div>
							<!-- ================================================================== -->
							<div ng-show="question.type == 'TEXTAREA'">
								<h3>Vastaukset / Pitkä teksti</h3>
								<p>
									Käyttäjän tulee syöttää vastaukseksi jotain tekstikenttään joka tarkistetaan myöhemmin.
								</p>
								<div class="form-group answer">
									<div class="col answer-text wide">
										<textarea class="form-control" placeholder="Käyttäjä täyttää" style="resize:none" class="disabled" disabled></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-left">
						<span ng-show="!hasChanged"><b>Ei muutoksia</b></span>
						<span ng-show="hasChanged"><b>Tallentamattomia muutoksia</b></span>
					</div>
					<div class="pull-right">
						<button class="btn btn-danger" ng-click="delete(qkey, question.id)">
							<span class="glyphicon glyphicon-trash"></span> Poista
						</button>
						<div style="display:inline-block;width:0.5em;"></div>
						<button class="btn btn-default" ng-click="cancel()">
							Peruuta
						</button>
						<button class="btn btn-success">
							<span class="glyphicon glyphicon-floppy-disk"></span> Tallenna
						</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
			<li class="no-questions" ng-show="data.test.questions.length == 0">
				<h4>Aloita lisäämällä kysymys</h4>
				<button type="button" class="btn btn-success" ng-click="add_question()">
					<span class="glyphicon glyphicon-plus"></span> Lisää uusi kysymys
				</button>
			</li>
		</ul>
		<hr>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit omnis explicabo a distinctio molestiae, sit, dignissimos iusto consequuntur nemo est atque quae perspiciatis, repellendus quisquam natus assumenda excepturi dolorum. Aut harum consequatur nostrum quam nemo assumenda ratione, qui, fugit, distinctio libero ut dolorem ipsam maxime sed aperiam, error mollitia deleniti!
		</div>
	</div>
</form>

<div class="load-placeholder" ng-show="!loaded">
	<h3>
		<img src="/img/ajax-loader.gif" alt=""> Ladataan...
	</h3>
</div>

<div class="modal" id="modal-delete-confirmation">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
				<h4 class="modal-title">Poiston varmistus</h4>
			</div>
			<div class="modal-body" style="text-align:center;font-size:120%">
				<p>
					Oletko varma, että haluat poistaa kysymyksen <b>"[[ modal_info.key + 1 ]]. [[ modal_info.question.title ]]"</b>?
				</p>
				<p>
					Tätä toimintoa ei voi peruuttaa!
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
				<button type="button" class="btn btn-danger" ng-click="confirmed_delete()">
					<span class="glyphicon glyphicon-trash"></span> Poista kysymys
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modal-cancel-confirmation">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Poiston varmistus</h4>
			</div>
			<div class="modal-body" style="text-align:center;font-size:120%">
				<p>
					Kysymyksen <b>"[[ modal_info.key + 1 ]]. [[ modal_info.question.title ]]"</b> muokkaus on vielä kesken. Haluatko jatkaa tallentamatta?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
				<button type="button" class="btn btn-warning" ng-click="confirmed_cancel()">
					<span class="glyphicon glyphicon-remove"></span> Älä tallenna
				</button>
			</div>
		</div>
	</div>
</div>